depends: [
  "dune" {>= "2.7"}
  "ocaml" {>= "4.08"}
  "astring" {>= "0.8.0"}
  "cohttp-lwt-unix" {>= "2.5.0"}
  "cmdliner" {>= "1.1.0"}
  "clz" {>= "0.1.0"}
  "ezxmlm" {>= "1.1.0"}
  "lwt" {>= "5.5.0"}
  "bigstringaf" {>= "0.2.0"}
  ("tls" {>= "0.12.0" & < "0.16"} | "tls-lwt")
  "re" {>= "1.0.0"}
  "odoc" {with-doc}
]
x-maintenance-intent: [ "(latest)" ]
